#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BAS 0  // base
#define NAV 1  // navigation
#define SYM 2  // symbols
#define NUM 3  // numbers
#define MOU 4  // mouse
#define G1 5   // game_1
#define G2 6   // game_2
#define G3 7   // game_3

/ {
  macros {
    cut: cut {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp X>
        , <&macro_release &kp LCTRL>
        ;
    };
    copy: copy {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp C>
        , <&macro_release &kp LCTRL>
        ;
    };
    paste: paste {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp V>
        , <&macro_release &kp LCTRL>
        ;
    };
    new_tab: new_tab {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp T>
        , <&macro_release &kp LCTRL>
        ;
    };
    del_tab: del_tab {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp W>
        , <&macro_release &kp LCTRL>
        ;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
&kp Q  &kp W  &kp F    &kp P      &kp B
&kp A  &kp R  &kp S    &kp T      &kp G
&kp Z  &kp X  &kp C    &kp D      &kp V
              &mo NAV  &kp SPACE  &kp TAB

&kp J      &kp L       &kp U      &kp Y    &kp SQT
&kp M      &kp N       &kp E      &kp I    &kp O
&kp K      &kp H       &kp COMMA  &kp DOT  &kp SEMI
&kp ENTER  &kp RSHIFT  &mo SYM
      >;
    };

    navigation_layer {
      bindings = <
&kp ESC    &kp PSCRN  &kp BSPC   &kp DEL    &kp C_VOL_UP
&kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp C_VOL_DN
&kp LMETA  &kp LALT   &kp LCTRL  &kp LSHFT  &trans
                      &trans     &to G1     &bootloader

&trans      &kp HOME      &trans        &kp END   &trans
&trans      &kp RSHFT     &kp RCTRL     &kp RALT  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &trans    &kp ENTER
&trans      &trans        &mo NUM
      >;
    };

    symbol_layer {
      bindings = <
&kp ESC    &kp LBRC  &kp LBKT   &kp LPAR   &kp TILDE
&kp MINUS  &kp STAR  &kp EQUAL  &kp UNDER  &kp DLLR
&kp PLUS   &kp PIPE  &kp AT     &kp FSLH   &kp PRCNT
                     &mo NUM    &trans     &trans

&kp CARET    &kp RPAR   &kp RBKT   &kp RBRC   &kp GRAVE
&kp HASH     &kp RSHFT  &kp RCTRL  &kp RALT   &kp RMETA
&trans       &kp BSLH   &kp AMPS   &kp QMARK  &kp EXCL
&bootloader  &trans     &trans
      >;
    };

    number_layer {
      bindings = <
&kp N1     &kp N2    &kp N3     &kp N4     &kp N5
&kp LMETA  &kp LALT  &kp LCTRL  &kp LSHFT  &kp F11
&kp F1     &kp F2    &kp F3     &kp F4     &kp F5
                     &trans     &trans     &trans

&kp N6   &kp N7     &kp N8     &kp N9    &kp N0
&kp F12  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RMETA
&kp F6   &kp F7     &kp F8     &kp F9    &kp F10
&trans   &trans     &trans
      >;
    };

    mouse_layer {
      bindings = <
&trans  &trans    &del_tab  &new_tab      &trans
&trans  &cut      &copy     &paste        &trans
&trans  &kp BSPC  &kp DEL   &kp ENTER     &to BAS
                            &trans &trans &trans

&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans
      >;
    };

    game_layer_1 {
      bindings = <
&kp LALT   &kp Q  &kp W  &kp E  &kp R
&kp LSHFT  &kp A  &kp S  &kp D  &kp F
&kp LCTRL  &kp X  &kp C  &kp V  &kp B
                            &mo G2  &kp SPACE  &mo G3

&trans &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans
      >;
    };

    game_layer_2 {
      bindings = <
&kp N6   &kp N7    &kp 8      &kp N9     &kp N0
&kp N1   &kp N2    &kp 3      &kp N4     &kp N5
&kp ESC  &kp LALT  &kp LCTRL  &kp LSHFT  &trans
                   &trans     &to NAV    &trans

&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans
      >;
    };

    game_layer_3 {
      bindings = <
&trans   &trans  &trans  &trans  &kp T
&kp TAB  &trans  &trans  &trans  &trans
&kp Z    &trans  &trans  &trans  &kp M
                 &trans  &trans  &trans

&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans
      >;
    };
  };
};
